<div class="text-about-us">
    <p>dasdasdads</p>
</div>


<div class="row" style="margin-top: 5%;">
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class=" card-img-top" src="~/Content/Images/patrycja.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Patrycja</h3>
                <p class="card-text">Penguin lover. </p>

            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class="card-img-top" src="~/Content/Images/pinto.jpg" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Piotrek</h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class="card-img-top" src="~/Content/Images/agata.jpg" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Agata</h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
    </div>
</div>