<div class="text-about text-center">
    <h2>Hello!</h2>
    <h4>
        We are 3 students from Poland who decided to go to the <strong>farthest</strong> and <strong>wildest</strong> corners of Poland
        <br />to show the beauty of our country. If, like us, you are a nature fan and would like to experience
        <br /><strong>amazing adventures</strong> with us
        and create amazing memories... <strong>pack your backpack and set out with us!</strong>
    </h4>
    <br />
    <div class="main-button" style="color: black">
        <p><a href="http://localhost:30767/Home/Travel" class="my-button">TRAVEL WITH US! >></a></p>
    </div>

</div>

<div class="row" style="margin-top: 5%;">
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class=" card-img-top" src="~/Content/Images/profilove/patrycja.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Patrycja</h3>
                <p class="card-text">
                    In love with travels and penguins. She insisted that one day she would visit the whole world,
                    preferably hitchhiking. In the free time she loves long walks, preferably accompanied by the sound of the ocean or
                    her favourite music.
                    In moments when she doesn't plan further trips, she is obssesed with playing ukulele,
                    baking and eating.
                </p>

            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class="card-img-top" src="~/Content/Images/profilove/pinto.jpg" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Piotrek</h3>
                <p class="card-text">
                    My biggest passion (obsession?) is football. I’m always looking for opportunities for physical activity
                    and meetings with friends. Sometimes I try to travel, preferably the mountains and forests. I also really like music,
                    (geo)policy, history and chess. I think Dragon Ball is the best anime of all time. Recently I became interested in
                    making homemade wine.
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class="card-img-top" src="~/Content/Images/profilove/agata.jpg" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Agata</h3>
                <p class="card-text">
                    A crazy traveler to who is hard to sit in one place. Full of positive energy and smile,
                    looking for positive qualities in people, sad that despite the sincere desire to visit the whole world it is not possible.
                    Loving to cook, again cook and again eat. In free time strumming guitar and ukulele, a lover of team sports (read volleyball
                    and football).
                </p>

            </div>
        </div>
    </div>





</div>