<div class="home-page">

    <div class="main-text">
        <p class="header-text contact-text">Feel free to contact us!</p>
        <div class="mail-button main-button">
            <p>
                <a href="mailto:oko.contact.oko@gmail.com" class="my-button contact-button">oko.contact.oko@gmail.com</a><br />
            </p>
        </div>
    </div>


</div>