

<div class="home-page">
    <div class="main-text">
        <p>
            Do you love <strong>discovering new places</strong> just like us? <br />Let us take you on an <strong>unforgettable journey!</strong>
            <br /><br />
            <strong>Intrigued?</strong>
        </p>
        <br />
        <p style="font-size: 20px;">Log in to take full advantage of the website!</p>
    </div>
    <div class="main-button">
        <p><a href="http://localhost:30767/Account/Login" class="my-button">GO TO THE LOGIN PAGE >></a></p>
    </div>


</div>
