
<div class="home-page">

    <div class="main-text">
        <p>
            There are <strong>so many beautiful places</strong> <br />around the world... <Br /><Br />We will be happy to hear which are 
            <Strong>your desire destinations!</Strong>          
        </p>
    </div>
    <div class="main-button">
        <p>
            <a class="typeform-share my-button"
               href="https://ksiezycowydzik.typeform.com/to/pPSo41"
               data-mode="popup">PROPOSE A DESTINATION >></a>
        </p>
    </div>
</div>

<script>
    (function () {
        var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
            js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q)
        }
    })() </script>

