
<div class="rows" style="margin-top: 30px">
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px; border-radius: 45px;">
        <div class=" card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
             <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional contentdsa.</p>
                <a href="#" class="btn btn-primary" style="margin-top: 10px">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional contentdsa.</p>
                <a href="#" class="btn btn-primary" style="margin-top: 10px">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px">
        <div class=" card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
             <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional contentdsa.</p>
                <a href="#" class="btn btn-primary" style="margin-top: 10px">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional contentdsa.</p>
                <a href="#" class="btn btn-primary" style="margin-top: 10px">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 30px">
        <div class=" card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional contentdsa.</p>
                <a href="#" class="btn btn-primary" style="margin-top: 10px">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 30px">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional contentdsa.</p>
                <a href="#" class="btn btn-primary" style="margin-top: 10px">Go somewhere</a>
            </div>
        </div>
    </div>
  
   
        <div class="main-text">
            <p>
                You didn't find anything interesting?
            </p>
            <a href="http://localhost:30767/Home/Propose" class="my-button">CHECK THIS! >></a>
        </div>     
    </div>




@*<div class="row" style="margin-top: 5%;">
    <div class="col " style="max-width: 70%; margin: 0 auto;">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; margin-bottom: 20px">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Patrycja</h3>
                <p class="card-text">Penguin lover. Penguin lover. Penguin lover. Penguin lover. Penguin lover. </p>

            </div>
        </div>
    </div>
    <div class="col " style="max-width: 70%; margin: 0 auto;">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;margin-bottom: 20px">
            <img class="card-img-top" src="~/Content/Images/bieszczady/DSC00947.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Piotrek</h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
    </div>
    <div class="col " style="max-width: 70%; margin: 0 auto;">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; margin-bottom: 20px">
            <img class="card-img-top" src="~/Content/Images/bieszczady/DSC00949.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Agata</h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00967.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Patrycja</h3>
                <p class="card-text">Penguin lover. Coś askndksjpoebjf oivfiojsefbjkesoihdsf;asjdkbfs;jfboefhewfh</p>

            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class="card-img-top" src="~/Content/Images/bieszczady/DSC00992.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Piotrek</h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px;">
            <img class="card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
            <div class="card-body">
                <h3 class="card-title">Agata</h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
    </div>
</div>*@