
<div class="rows" style="margin-top: 30px; margin-bottom: 180px;">
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px; border-radius: 45px;">
        <div class=" card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/bieszczady/DSC00898.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Bieszczady Mountains</h4>
                <p class="card-text">Take a break from the hustle and bustle of cities...</p>
                <a href="http://localhost:30767/Travelling/Bieszczady" class="btn btn-primary" style="margin-top: 10px">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px">
        <div class=" card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/stolowe/st5.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Stołowe Mountains</h4>
                <p class="card-text">Extraordinary fabulous landscapes and many waterfalls...</p>
                <a href="http://localhost:30767/Travelling/Stolowe" class="btn btn-primary" style="margin-top: 10px">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/sudety/s4.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Sudety Mountains</h4>
                <p class="card-text">Fond of the masses of rock climbing enthusiasts...</p>
                <a href="http://localhost:30767/Travelling/Sudety" class="btn btn-primary" style="margin-top: 10px">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 10px; margin-bottom: 10px">
        <div class="card text-center" style="background-color: rgba(239, 224, 224, 0.76); padding: 30px; ">
            <img class=" card-img-top" src="~/Content/Images/mazury/m6.JPG" style="max-width: 90%;" />
            <div class="card-body" style="padding-top: 10px">
                <h4 class="card-title">Mazury</h4>
                <p class="card-text">Combines the beauty of both forests and lakes...</p>
                <a href="http://localhost:30767/Travelling/Mazury" class="btn btn-primary" style="margin-top: 10px">READ MORE</a>
            </div>
        </div>
    </div>
</div>


<div class="main-text">
    <p>
        You didn't find anything interesting?
    </p>
    <a href="http://localhost:30767/Home/Propose" class="my-button">CHECK THIS! >></a>
</div>
