


<div class="gallery" >
    <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
    <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
    <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
    <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
    <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
    <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
</div>


<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>