
<div class="gallery">
    <div class="travel-text">
        <h3 class="text-center">Bieszczady Mountains<br /></h3>
        <hr /><br />
        <p style="margin: 5px 80px; font-size: 16px;">
            Bieszczady in today's world of continuous rush and pursuit of dates, offer everything you need
            to take a break from the hustle and bustle of cities, find inner balance and just relax.
            <br />
            <br />
            These mountains abound in magnificent, breathtaking views. The trails here are long, tiring and sometimes very steep.
            However, they reward our work with amazing panoramas and the possibility of communing with wild and almost virgin nature.
            <br />
            <br />
            Bieszczady spring is associated with a dark yet barely visible greenery. These little leaf buds are difficult to see here
            and there on still gray branches. They are ubiquitous mists wandering in valleys and seas of marigolds in ditches by the roads.
            Summer is, in turn, bright green, which is eye-catching. Everything is green here - meadows, forests, pastures. The variety is
            yellow and purple flowers, meadows full of insects. Autumn, considered by many to be the best time to visit these sites.
            The mountains seem to burn from all shades of yellow, red... The slopes look as if a painter dropped a palette of paints
            and poured on the Bieszczady hills and valleys. Winter is short days, emptiness on the trails, ubiquitous rains, snow, wind
            and wasteland - wandering then in the mountains, we have the impression of being in the fairy-tale land of ice.
        </p>
        <br /><br />
        <div class="text-center" style="border: 1px solid black; margin: 0 300px; padding: 20px">
            <h4>Ready for travel?<br />Contact us!</h4>
            <p>
                <strong>Person responsible:</strong>
                <br />
                Patrycja
                <br /><br />
                <strong> Phone number:</strong>
                <br />
                +48 123 123 123
                <br /><br />
                <strong>Email:</strong>
                <br />
                patrycja.oko@gmail.com
            </p>
        </div>
    </div>


    <div class="small-gallery">
        <a href="~/Content/Images/bieszczady/b1.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/b1.JPG" /></a>
        <a href="~/Content/Images/bieszczady/b2.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/b2.JPG" /></a>
        <a href="~/Content/Images/bieszczady/b3.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/b3.JPG" /></a>
        <a href="~/Content/Images/bieszczady/b4.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/b4.JPG" /></a>
        <a href="~/Content/Images/bieszczady/b5.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/b5.JPG" /></a>
        @*<a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/b6.JPG" /></a>*@
    </div>

</div>

<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>




@*<div class="gallery">
        <div class="travel-text" style="padding: 12px">
            <h3 class="text-center">Bieszczady Mountains<br /><br />* * *<br /></h3>


            <p style="margin: 5px 80px; font-size: 18px;">
                Bieszczady in today's world of continuous rush and pursuit of dates, offer everything you need
                to take a break from the hustle and bustle of cities, find inner balance and just relax.
                <br />
                <br />
                These mountains abound in magnificent, breathtaking views. The trails here are long, tiring and sometimes very steep.
                However, they reward our work with amazing panoramas and the possibility of communing with wild and almost virgin nature.
                <br />
                <br />
                Bieszczady spring is associated with a dark yet barely visible greenery. These little leaf buds are difficult to see here
                and there on still gray branches. They are ubiquitous mists wandering in valleys and seas of marigolds in ditches by the roads.
                Summer is, in turn, bright green, which is eye-catching. Everything is green here - meadows, forests, pastures. The variety is
                yellow and purple flowers, meadows full of insects. Autumn, considered by many to be the best time to visit these sites.
                The mountains seem to burn from all shades of yellow, red ... The slopes look as if a painter dropped a palette of paints
                and poured on the Bieszczady hills and valleys. Winter is short days, emptiness on the trails, ubiquitous rains, snow, wind
                and wasteland - wandering then in the mountains, we have the impression of being in the fairy-tale land of ice.
            </p>
            <br /><br />

            <div class="text-center" style="border: 1px solid black; margin: 0 300px; padding: 20px">

                <h4>Ready for travel?<br />Contact us!</h4>
                <p>
                    <strong>Person responsible:</strong>
                    <br />
                    Patrycja
                    <br /><br />
                    <strong> Phone number:</strong>
                    <br />
                    +48 123 123 123
                    <br /><br />
                    <strong>Email:</strong>
                    <br />
                    patrycja.oko@gmail.com
                </p>
            </div>




        </div>


        <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
        <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00947.JPG" /></a>
        <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
        <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
        <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
        <a href="~/Content/Images/bieszczady/DSC00898.JPG" data-lightbox="mygallery"><img src="~/Content/Images/bieszczady/DSC00898.JPG" /></a>
    </div>




    <script src="~/Scripts/lightbox-plus-jquery.min.js"></script>*@