
<div class="gallery">
    <div class="travel-text">
        <h3 class="text-center">Mazury<br /></h3>
        <hr /><br />
        <p style="margin: 5px 80px; font-size: 16px;">
            The Mazur landscape combines the beauty of both forests and lakes. Already after crossing the border of the land, 
            we are enchanted by the beauty of the surrounding nature and the enormity of possibilities offered by the region.
            <br /><br />
            Although there is no shortage of tourists in this region, we still find wild places, completely unexplored by visitors, 
            many places offer space full of peace, silence and the sounds of nature.
            <br /><br />

            On the trail, the attraction for sailors are charming coves, isolated bathing places, ideal places for fishing, as well as 
            very popular water reservoirs and port towns.
        </p>
        <br /><br />
        <div class="text-center" style="border: 1px solid black; margin: 0 300px; padding: 20px">
            <h4>Ready for travel?<br />Contact us!</h4>
            <p>
                <strong>Person responsible:</strong>
                <br />
                Patrycja
                <br /><br />
                <strong> Phone number:</strong>
                <br />
                +48 123 123 123
                <br /><br />
                <strong>Email:</strong>
                <br />
                patrycja.oko@gmail.com
            </p>
        </div>
    </div>
    <br />

    <div class="small-gallery">
        <a href="~/Content/Images/mazury/m1.JPG" data-lightbox="mygallery"><img src="~/Content/Images/mazury/m1.JPG" /></a>
        <a href="~/Content/Images/mazury/m2.JPG" data-lightbox="mygallery"><img src="~/Content/Images/mazury/m2.JPG" /></a>
        <a href="~/Content/Images/mazury/m3.JPG" data-lightbox="mygallery"><img src="~/Content/Images/mazury/m3.JPG" /></a>
        <a href="~/Content/Images/mazury/m4.JPG" data-lightbox="mygallery"><img src="~/Content/Images/mazury/m4.JPG" /></a>
        <a href="~/Content/Images/mazury/m5.JPG" data-lightbox="mygallery"><img src="~/Content/Images/mazury/m5.JPG" /></a>
        <a href="~/Content/Images/mazury/m6.JPG" data-lightbox="mygallery"><img src="~/Content/Images/mazury/m6.JPG" /></a>
    </div>

</div>

<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>
