
<div class="gallery">
    <div class="travel-text">
        <h3 class="text-center">Stołowe Mountains<br /></h3>
        <hr /><br />
        <p style="margin: 5px 80px; font-size: 16px;">
            And there is another destination where we would like to take you - Stołowe Mountains! (kind of "Table Mountains").
            It is said you must necessarily see them. Even if they are not one of the biggest mountains in Polad - they are 
            completely different than anything else! About this region of the Sudetes which the Kłodzko Land occupies with its 
            numerous natural wonders and numerous tourist attractions can not be written in a few sentences. 
            <br />
            <br />
            These are wonderful mountains, extraordinary fabulous landscapes, a great wealth of rock formations, crevasses, 
            labyrinths, fabulous mountain boulders.. Ziemia Kłodzka is also the nature's curios, caves, picturesque waterfalls, 
            dozens of mountain trails, scenic routes, wonderful spas with beatings sources of mineral salts. Breathtaking views, 
            places that are known but also mysterious, magical places, known Mary's sanctuaries.
        </p>
        <br /><br />
        <div class="text-center" style="border: 1px solid black; margin: 0 300px; padding: 20px">
            <h4>Ready for travel?<br />Contact us!</h4>
            <p>
                <strong>Person responsible:</strong>
                <br />
                Agata
                <br /><br />
                <strong> Phone number:</strong>
                <br />
                +48 000 111 222
                <br /><br />
                <strong>Email:</strong>
                <br />
                agata.oko@gmail.com
            </p>
        </div>
    </div>


    <div class="small-gallery">
        @*<a href="~/Content/Images/stolowe/st1.JPG" data-lightbox="mygallery"><img src="~/Content/Images/stolowe/st1.JPG" /></a>*@
        <a href="~/Content/Images/stolowe/st2.JPG" data-lightbox="mygallery"><img src="~/Content/Images/stolowe/st2.JPG" /></a>
        <a href="~/Content/Images/stolowe/st3.JPG" data-lightbox="mygallery"><img src="~/Content/Images/stolowe/st3.JPG" /></a>
        <a href="~/Content/Images/stolowe/st4.JPG" data-lightbox="mygallery"><img src="~/Content/Images/stolowe/st4.JPG" /></a>
        <a href="~/Content/Images/stolowe/st5.JPG" data-lightbox="mygallery"><img src="~/Content/Images/stolowe/st5.JPG" /></a>
        @*<a href="~/Content/Images/stolowe/st6.JPG" data-lightbox="mygallery"><img src="~/Content/Images/stolowe/st6.JPG" /></a>*@
    </div>

</div>

<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>
