
<div class="gallery">
    <div class="travel-text">
        <h3 class="text-center">Sudety Mountains<br /></h3>
        <hr /><br />
        <p style="margin: 5px 80px; font-size: 16px;">
            The Sokole Mountains, commonly known as Sokoliki, are one of the most characteristic places in the Western Sudetes. 
            It is famous above all for its impressive granite rocks, creating fabulous shapes. For this reason, Sokoliki are 
            fond of the masses of rock climbing enthusiasts.
            <br />
            <br />
            The Sokole Mountains are located in the north-western part of the Rudawy Janowickie. The highest peaks are the 
            twin ones: Krzyżna Góra (654 m above sea level) and Sokolik (623 m above sea level). The group is complemented 
            by lower hills - Browarówka, Rudzik, Łysa and Buczek. The most interesting rock clusters are on the two highest peaks.
             Both on Krzyżna Góra and Sokolik, scenic platforms have been created, from which there are magnificent views of 
            the Karkonosze, the Rudawy Janowickie, the Kaczawskie Mountains and the Jeleniogórska Valley. Viewpoints are worth 
            visiting especially during sunrise and sunset. Awesome impressions!
            
        </p>
        <br /><br />
        <div class="text-center" style="border: 1px solid black; margin: 0 300px; padding: 20px">
            <h4>Ready for travel?<br />Contact us!</h4>
            <p>
                <strong>Person responsible:</strong>
                <br />
                Piotrek
                <br /><br />
                <strong> Phone number:</strong>
                <br />
                +48 321 321 321
                <br /><br />
                <strong>Email:</strong>
                <br />
                piotrek.oko@gmail.com
            </p>
        </div>
    </div>
    <br />

    <div class="small-gallery">
        <a href="~/Content/Images/sudety/s1.JPG" data-lightbox="mygallery"><img src="~/Content/Images/sudety/s1.JPG" /></a>
        <a href="~/Content/Images/sudety/s2.JPG" data-lightbox="mygallery"><img src="~/Content/Images/sudety/s2.JPG" /></a>
        <a href="~/Content/Images/sudety/s3.JPG" data-lightbox="mygallery"><img src="~/Content/Images/sudety/s3.JPG" /></a>
        <a href="~/Content/Images/sudety/s4.JPG" data-lightbox="mygallery"><img src="~/Content/Images/sudety/s4.JPG" /></a>
        <a href="~/Content/Images/sudety/s5.JPG" data-lightbox="mygallery"><img src="~/Content/Images/sudety/s5.JPG" /></a>
        <a href="~/Content/Images/sudety/s6.JPG" data-lightbox="mygallery"><img src="~/Content/Images/sudety/s6.JPG" /></a>
    </div>

</div>

<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>
